<div class="container ">
    <div class="row " >
        <div class="col text-center mt-10">
            <img src="img/pp.jpg" alt="diky" class="img-thumbnail rounded-circle" width="200">
            <h2 class="display-4">Diky Adisaputra</h2>
            <p class="lead">Student | University of Lampung</p>
        </div>
    </div>
</div>